.header {
	background-color: #333;
	padding: 15px 30px;
	position: fixed; /* Make the header fixed */
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
	transition: background-color 0.3s ease; /* Smooth background transition on scroll */

	@media screen and (max-width: 992px) {
		padding: 8px;
	}
	&-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logo {
		width: 210px;
		height: 89px;
		@media screen and (max-width: 992px) {
			width: 140px;
		}
	}

	.navigation {
		ul {
			list-style: none;
			display: flex;
			gap: 4rem;

			li a {
				color: white;
				text-decoration: none;
				font-weight: bold;
				font-size: 16px;
				display: flex;
				align-items: center;
				gap: 1rem;
				text-transform: uppercase;
				padding: 10px 0; /* Add padding for better click area */
				transition: color 0.3s ease; /* Smooth hover transition */
			}

			li a:hover {
				color: #ffcc00;
			}
		}

		&.open {
			transform: translateX(0);
		}
	}

	.header-icons {
		display: flex;
		gap: 3.2rem;

		.icon {
			color: white;
			font-size: 2.5rem;
			transition: color 0.3s ease;

			&:hover {
				color: #ffcc00;
			}
		}
	}

	.burger-menu {
		display: none;
		color: white;
		font-size: 3rem;
		cursor: pointer;
		z-index: 11;

		@media screen and (max-width: 992px) {
			display: block;
		}
	}

	.sub-menu {
		display: flex;
		flex-direction: column;
		background-color: #444;
		padding: 1.5rem;
		list-style: none;
		margin-top: 5px;
		border-radius: 0.5rem;
		position: absolute;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

		@media screen and (max-width: 992px) {
			position: relative;
		}

		li {
			margin-bottom: 5px;
		}

		li a {
			color: white;
			text-decoration: none;
			font-weight: normal;
			font-size: 14px;

			&:hover {
				color: #ffcc00;
			}
		}
	}

	.rotate {
		transform: rotate(180deg);
		transition: transform 0.3s ease;
	}
}

@media (max-width: 992px) {
	.navigation {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 75%;
		background-color: #333;
		padding: 3rem;
		transform: translateX(-100%);
		transition: transform 0.3s ease-in-out;
		z-index: 20;

		ul {
			flex-direction: column;
			gap: 2rem;
		}
	}

	.mobile-menu-overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 10;
	}
}
